<% content_for :page_title do %>
  <%= Spree.t(:promotion_codes) %>
<% end %>

<% content_for :page_actions do %>
  <li id="promotion_link">
    <%= button_link_to Spree.t(:back_to_promotion), edit_admin_promotion_path(id: @promotion), { icon: 'arrow-left', class: 'btn-success' } %>
  </li>

  <li id="new_code_link">
    <%= button_link_to Spree.t(:add_new_codes), new_admin_promotion_code_path(promotion_id: @promotion), { icon: 'plus', class: 'btn-success' }  %>
  </li>
<% end %>


<% if @promotion.codes.any? %>
  <table class="index">
    <thead>
      <tr>
        <th><%= Spree.t(:code) %></th>
        <th><%= Spree.t(:user) %></th>
        <th><%= Spree.t(:used) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @codes.each do |promotion_code| %>
        <tr id="<%= spree_dom_id promotion_code %>" class="<%= cycle('odd', 'even')%>">
          <td class="align-center"><%= promotion_code.code %></td>
          <td class="align-center"><%=link_to  promotion_code.user.email, admin_user_path(promotion_code.user) %></td>
          <td class="align-center"><%= promotion_code.used %></td>
          <td class="actions">
            <%= link_to_edit promotion_code, { url: edit_admin_promotion_code_path(@promotion, promotion_code),no_text: true } %>
            <%= link_to_delete promotion_code, { url: admin_promotion_code_path(@promotion, promotion_code),no_text: true } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/promotion/code')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_promotion_path %>!
  </div>
<% end %>
