<%= javascript_include_tag 'spree/backend/single_user_picker' %>

<%= render partial: 'spree/shared/error_messages', locals: { target: @code } %>
<div class="row" id="general_fields" >
  <div class="col-md-4">
    <%= f.field_container :code, class: ['form-group'] do %>
      <%= f.label :code %>
      <%= f.text_field :code, class: 'form-control' %>
    <% end %>
  </div>

  <div class="field col-md-8">
    <label><%= Spree.t('user_rule.choose_users') %></label><br>
    <input type='hidden' name='code[user_id]' class='single_user_picker fullwidth-input' data-hook="single_user_picker">
  </div>
</div>
